<section class='todoList-wrapper'>
  <h1 class='text-3xl text-center font-bold mb-3'>TODO APP</h1>
  <Divider className="mb-5" />
  <div class="new-todo mb-10">
    <CreateTodo [todoList]="service.todoList" />
  </div>

  <section class="filters flex mt-4 gap-3 justify-center">
    <TodoFilter value="all" label="Todos" />
    <TodoFilter value="active" label="Pendientes"/>
    <TodoFilter value="done" label="Completados"/>
  </section>

  <Divider />

  <ul class="todoList">
    @for (todo of todoList; track todo.id) {
      <TodoItem [todo]="todo"/>
    }
  </ul>
</section>