<li class="todo" [class.editing]='todo.editing'>
  <label class='flex flex-1 w-full items-center gap-3'>
    <app-checkbox
      [todo]="todo"
      (onTodoChange)="toggleTodo(todo.id)"
    />

    <form class='w-full' (submit)="saveDescription($event, todo.id)">
      <input
        #input
        type="text"
        class='w-full'
        [class.editing]='todo.editing'
        [value]="todo.description"
        [readOnly]="!todo.editing"
      />
    </form>
  </label>

  @if (!todo.isDone && !todo.editing) {
    <button
      class='button-text'
      (click)="toggleEditable(todo.id, input)"
    >
      Editar
    </button>
  }

  <button class='button-danger' (click)="removeTodo(todo.id)">Eliminar</button>
</li>